.bg {
  background-image: linear-gradient( #ede574,#e1f5c4);
  background-size: cover;
  min-height: 750px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
