<body>
    <div class="bg">
        <div class="container">
            <div class="search">
              <br /><br /><br /><br />
                <button class="btn btn-primary" data-toggle="modal" (click)="rejectedBookings()"
                    style="float:right; color: white">Rejected Bookings</button>

                <button class="btn btn-primary" style="float:left; color: white;" (click)="acceptedBookings()">Accepted
                    Bookings</button>
                <br /><br /><br />
            </div>
            <div class="modal fade" id="empModel">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Update Form</h4>
                            <span class="close" data-dismiss="modal">&times;</span>
                        </div>
                        <div class="modal-body">
                            <form class="form-group">
                                Enter Price: <input type="text" name="price" [(ngModel)]="editObject.price"
                                    class="form-control"><br />
                                Update Status :
                                <select type="text" name="bookingStatus" ngModel
                                    [(ngModel)]='editObject.bookingStatus'><br /><br />
                                    <option value="accepted">Accepted</option>
                                    <option value="rejected">Rejected</option>
                                </select><br /><br /><br />
                                Select Vehicle Number:<select type="text" name="vehicleNo" ngModel
                                    [(ngModel)]='editObject.vehicle.vehicleNo'><br />
                                    <option value={{dept}} *ngFor="let dept of vehidrive">{{dept}}</option>
                                </select>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary btn-sm" (click)="updateBooking()"
                                data-dismiss="modal">Update</button>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped table-hover table-sm">
                <thead>
                    <tr class="bg-info text-white">
                        <th>BOOKING ID</th>
                        <th>FARMER NAME</th>
                        <th>SOURCE</th>
                        <th>DESTINATION</th>
                        <th>CROP TYPE</th>
                        <th>LOAD SIZE</th>
                        <th>POOLING TYPE</th>
                        <th>BOOKING DATE</th>
                        <th>PRICE</th>
                        <th>STATUS</th>
                        <th>VEHICLE NUMBER</th>
                        <th>UPDATE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let b of bookings'>
                        <td>{{b.bookingId}}</td>
                        <td>{{b.farmer.farmerName | uppercase}}</td>
                        <td>{{b.source | uppercase}}</td>
                        <td>{{b.destination | uppercase}}</td>
                        <td>{{b.cropType|lowercase}}</td>
                        <td>{{b.loadSize}}</td>
                        <td>{{b.pool}}</td>
                        <td>{{b.wantDate | date : "dd-MM-yyyy"}}</td>
                        <td>{{b.price}}</td>
                        <td>{{b.bookingStatus}}</td>
                        <td *ngIf="b.vehicle">{{b.vehicle.vehicleNo}}</td>
                        <td *ngIf="!b.vehicle">NULL</td>
                        <td>
                            <button (click)="showEditPopup(b)"><i class="fa fa-edit"></i></button>
                        </td>
                    </tr>
                </tbody>
                <br />
                <div style="text-align:center">
                  <button class="btn btn-primary" style="margin-left: auto;margin-right: auto;"
                          (click)="pooling()">
                    Pooling
                  </button>

                </div>
            </table>
        </div>
        <div class="modal fade" id="accept">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Accepted List</h4>
                        <span class="close" data-dismiss="modal">&times;</span>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped table-hover table-sm">
                            <thead>
                                <tr class="bg-info text-white">
                                    <th>ID</th>
                                    <th>FARMER NAME</th>
                                    <th>POOLING TYPE</th>
                                    <th>BOOKING DATE</th>
                                    <th>PRICE</th>
                                    <th>VEHICLE NUMBER</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor='let b of acceptedList'>
                                    <td>{{b.bookingId}}</td>
                                    <td>{{b.farmer.farmerName | uppercase}}</td>
                                    <td>{{b.pool}}</td>
                                    <td>{{b.wantDate | date : "dd-MM-yyyy"}}</td>
                                    <td>{{b.price}}</td>
                                    <td *ngIf="b.vehicle">{{b.vehicle.vehicleNo}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="reject">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Rejected List</h4>
                        <span class="close" data-dismiss="modal">&times;</span>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped table-hover table-sm">
                            <thead>
                                <tr class="bg-info text-white">
                                    <th>ID</th>
                                    <th>FARMER NAME</th>
                                    <th>POOLING TYPE</th>
                                    <th>BOOKING DATE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor='let b of rejectedList'>
                                    <td>{{b.bookingId}}</td>
                                    <td>{{b.farmer.farmerName | uppercase}}</td>
                                    <td>{{b.pool}}</td>
                                    <td>{{b.wantDate | date : "dd-MM-yyyy"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>